<div class="social-icons__wrapper">
  {% if settings.social_twitter_link %}
    <a href="{{ settings.social_twitter_link }}" target="_blank" aria-label="Twitter">
      {% render 'icon-twitter' %}
    </a>
  {% endif %}
  {% if settings.social_instagram_link %}
    <a href="{{ settings.social_instagram_link }}" target="_blank" aria-label="Instagram">
      {% render 'icon-instagram' %}
    </a>
  {% endif %}
  {% if settings.social_facebook_link %}
    <a href="{{ settings.social_facebook_link }}" target="_blank" aria-label="Facebook">
      {% render 'icon-facebook' %}
    </a>
  {% endif %}
</div>